.position-indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    width: 155px;
    height: 25px;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.position-indicator div {
    padding: 0;
    margin: 0;
}
