* {
  margin: 0;
  padding: 0;
}

.main-page {
  background-color: #333333;
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
